// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  padding: 15px;
}

.even {
  background-color: #D6E1C3;
}